@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Quicksand:wght@400;700&display=swap');

* {
    margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Quicksand';
}

body{
    background-color: #D0D9D4;
    display: flex;
    flex-direction: column;
}

textarea, input{
    resize: none;
    border-radius: 5px;
}

header{
    background-color: #D0D9D4;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 6px #59554C;
    position: relative;
}

a {
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
    color: #F2EFDF;
}

a:hover{
    color: #59554C;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 1em;
    padding: 0em 1em;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.5em 0em 0.5em;
    background-color: #798C8C;
}

.title {
    color: #59554C;
    font-size: 40px;
}

.main {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    gap: 2em;
    padding: 5vh;
    background-color: #F2EFDF;
}

.mainContact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 50vh;
}

.mainText > p {
    max-width: 40vw;
}

.interests {
    display: flex;
    background-color:#D0D9D4;
    justify-content: center;
}

.contactButton, .sendButton {
    font-size: 16px;
    background-color: #798C8C;
    padding: 0.2em 0.3em;
    border-radius: 3px;
    border: 1px solid #D0D9D4;
}

.sendButton{
    color: #F2EFDF;
    cursor: pointer;
}

.contactButton:hover, .sendButton:hover {
    color: #AEBFBE;
}

.hobbyContainer, .topContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.hobbyList, .topList{
    display: flex;
    gap: 10px;
}

.hobby, .serie {
    background-color:#AEBFBE;
    align-self: flex-end;
    height: 150px;
    width: 102px;
    gap: 10px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    flex-shrink: 1;
    box-shadow: 0px 3px 10px #59554C;
}

#hobbyTitle{
    align-self: flex-end;
    padding: 0em 1em 1em 0em;
    font-size: 24px;
    color: #59554C
}

#topTitle{
    align-self: flex-start;
    padding: 0em 0em 1em 1em;
    font-size: 24px;
    color: #59554C;
}

